
    <footer class="footer container-fluid" id="footer">
        <p class="colophon">site by fancyf33t<span id="imagination">Imagination</span>&copy;2022</p>
        <p class="return">Back to <a href="#header">Top</a></p>
    </footer>

    <svg aria-hidden="true" style="position: absolute; width: 0; height: 0; overflow: hidden;" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <defs>
        <symbol id="icon-node-dot-js" viewBox="0 0 32 32">
        <path fill="#393" style="fill: var(--color1, #393)" d="M15.997 32c-0.428 0-0.855-0.112-1.229-0.329l-3.915-2.316c-0.584-0.327-0.299-0.443-0.107-0.511 0.78-0.271 0.937-0.333 1.771-0.805 0.087-0.049 0.201-0.031 0.291 0.023l3.008 1.785c0.109 0.060 0.263 0.060 0.363 0l11.727-6.768c0.109-0.063 0.179-0.188 0.179-0.317v-13.533c0-0.132-0.071-0.256-0.183-0.323l-11.721-6.763c-0.108-0.063-0.252-0.063-0.361 0l-11.719 6.764c-0.113 0.065-0.185 0.193-0.185 0.321v13.533c0 0.129 0.072 0.252 0.185 0.313l3.212 1.856c1.743 0.872 2.811-0.155 2.811-1.187v-13.361c0-0.189 0.152-0.337 0.341-0.337h1.487c0.185 0 0.34 0.149 0.34 0.337v13.361c0 2.327-1.267 3.66-3.472 3.66-0.677 0-1.212 0-2.701-0.735l-3.077-1.769c-0.76-0.439-1.229-1.26-1.229-2.139v-13.533c0-0.879 0.471-1.7 1.229-2.137l11.727-6.776c0.743-0.42 1.728-0.42 2.464 0l11.725 6.776c0.76 0.439 1.232 1.259 1.232 2.137v13.533c0 0.879-0.472 1.697-1.232 2.139l-11.725 6.771c-0.373 0.217-0.799 0.329-1.233 0.329zM25.465 18.657c0-2.533-1.712-3.208-5.316-3.684-3.641-0.481-4.012-0.731-4.012-1.583 0-0.704 0.313-1.644 3.011-1.644 2.409 0 3.297 0.519 3.663 2.143 0.032 0.153 0.172 0.265 0.329 0.265h1.521c0.095 0 0.184-0.041 0.248-0.108 0.064-0.072 0.099-0.164 0.089-0.261-0.236-2.797-2.095-4.101-5.851-4.101-3.344 0-5.339 1.411-5.339 3.777 0 2.567 1.984 3.276 5.193 3.593 3.84 0.376 4.137 0.937 4.137 1.692 0 1.311-1.052 1.869-3.523 1.869-3.103 0-3.785-0.779-4.015-2.323-0.027-0.165-0.168-0.287-0.337-0.287h-1.516c-0.188 0-0.339 0.149-0.339 0.337 0 1.976 1.075 4.331 6.207 4.331 3.717 0.001 5.848-1.461 5.848-4.017z"></path>
        </symbol>
        <symbol id="icon-html5" viewBox="0 0 32 32">
        <path fill="#e34f26" style="fill: var(--color2, #e34f26)" d="M2 0h28l-2.547 28.751-11.484 3.249-11.419-3.251zM11.375 13l-0.309-3.624 13.412 0.004 0.307-3.496-17.568-0.004 0.931 10.68h12.168l-0.435 4.568-3.88 1.072-3.94-1.080-0.251-2.813h-3.479l0.44 5.561 7.229 1.933 7.172-1.924 0.992-10.876z"></path>
        </symbol>
        <symbol id="icon-javascript" viewBox="0 0 32 32">
        <path fill="#f7df1e" style="fill: var(--color3, #f7df1e)" d="M0 0h32v32h-32zM29.379 24.368c-0.233-1.46-1.184-2.687-4.004-3.831-0.981-0.46-2.072-0.78-2.396-1.52-0.121-0.44-0.14-0.68-0.061-0.94 0.2-0.861 1.22-1.12 2.020-0.88 0.52 0.16 1 0.56 1.301 1.2 1.379-0.901 1.379-0.901 2.34-1.5-0.36-0.56-0.539-0.801-0.781-1.040-0.84-0.94-1.959-1.42-3.779-1.379l-0.94 0.119c-0.901 0.22-1.76 0.7-2.28 1.34-1.52 1.721-1.081 4.721 0.759 5.961 1.82 1.36 4.481 1.659 4.821 2.94 0.32 1.56-1.16 2.060-2.621 1.88-1.081-0.24-1.68-0.781-2.34-1.781l-2.44 1.401c0.28 0.64 0.6 0.919 1.080 1.479 2.32 2.341 8.12 2.221 9.161-1.339 0.039-0.12 0.32-0.94 0.099-2.2zM17.401 14.708h-2.997c0 2.584-0.012 5.152-0.012 7.74 0 1.643 0.084 3.151-0.184 3.615-0.44 0.919-1.573 0.801-2.088 0.64-0.528-0.261-0.796-0.621-1.107-1.14-0.084-0.14-0.147-0.261-0.169-0.261l-2.433 1.5c0.407 0.84 1 1.563 1.765 2.023 1.14 0.68 2.672 0.9 4.276 0.54 1.044-0.301 1.944-0.921 2.415-1.881 0.68-1.24 0.536-2.76 0.529-4.461 0.016-2.739 0-5.479 0-8.239z"></path>
        </symbol>
        <symbol id="icon-github" viewBox="0 0 16 16">
        <path fill="#f7df1e" style="fill: var(--color4, #000000)" d="M8 0.198c-4.418 0-8 3.582-8 8 0 3.535 2.292 6.533 5.471 7.591 0.4 0.074 0.547-0.174 0.547-0.385 0-0.191-0.008-0.821-0.011-1.489-2.226 0.484-2.695-0.944-2.695-0.944-0.364-0.925-0.888-1.171-0.888-1.171-0.726-0.497 0.055-0.486 0.055-0.486 0.803 0.056 1.226 0.824 1.226 0.824 0.714 1.223 1.872 0.869 2.328 0.665 0.072-0.517 0.279-0.87 0.508-1.070-1.777-0.202-3.645-0.888-3.645-3.954 0-0.873 0.313-1.587 0.824-2.147-0.083-0.202-0.357-1.015 0.077-2.117 0 0 0.672-0.215 2.201 0.82 0.638-0.177 1.322-0.266 2.002-0.269 0.68 0.003 1.365 0.092 2.004 0.269 1.527-1.035 2.198-0.82 2.198-0.82 0.435 1.102 0.162 1.916 0.079 2.117 0.513 0.56 0.823 1.274 0.823 2.147 0 3.073-1.872 3.749-3.653 3.947 0.287 0.248 0.543 0.735 0.543 1.481 0 1.070-0.009 1.932-0.009 2.195 0 0.213 0.144 0.462 0.55 0.384 3.177-1.059 5.466-4.057 5.466-7.59 0-4.418-3.582-8-8-8z"></path>
        </symbol>
        <symbol id="icon-css3" viewBox="0 0 16 16">
        <path fill="#f7df1e" style="fill: var(--color5, #1ebaf7)" d="M2.381 0.758l-0.537 2.686h10.934l-0.342 1.735h-10.94l-0.53 2.686h10.933l-0.61 3.063-4.406 1.46-3.819-1.46 0.261-1.329h-2.686l-0.639 3.224 6.316 2.417 7.281-2.417 2.403-12.066z"></path>
        </symbol>
        <symbol id="icon-git" viewBox="0 0 16 16">
        <path fill="#f7df1e" style="fill: var(--color6, #f7801e)" d="M15.698 7.287l-6.986-6.986c-0.402-0.402-1.055-0.402-1.457 0l-1.623 1.623 1.221 1.221c0.196-0.094 0.415-0.146 0.647-0.146 0.828 0 1.5 0.672 1.5 1.5 0 0.232-0.053 0.451-0.146 0.647l2 2c0.196-0.094 0.415-0.146 0.647-0.146 0.828 0 1.5 0.672 1.5 1.5s-0.672 1.5-1.5 1.5-1.5-0.672-1.5-1.5c0-0.232 0.053-0.451 0.146-0.647l-2-2c-0.048 0.023-0.097 0.043-0.147 0.061v4.171c0.583 0.206 1 0.761 1 1.414 0 0.828-0.672 1.5-1.5 1.5s-1.5-0.672-1.5-1.5c0-0.653 0.417-1.208 1-1.414v-4.171c-0.583-0.206-1-0.761-1-1.414 0-0.232 0.053-0.451 0.146-0.647l-1.221-1.221-4.623 4.623c-0.402 0.403-0.402 1.055 0 1.458l6.986 6.986c0.402 0.402 1.054 0.402 1.457 0l6.953-6.953c0.402-0.403 0.402-1.055-0-1.458z"></path>
        </symbol>
        </defs>
        </svg>

    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>