<%- include ('../partials/header'); %>
    <main class="main main-page container-fluid" id="main">
        <section class="coffee-selection-section row">
            <nav class="nav coffee-nav justify-content-around">
                <a href="/hot">
                    <h3 class="coffee-type">hot</h3>
                </a>
                <a href="/iced">
                    <h3 class="coffee-type">iced</h3>
                </a>
            </nav>
        </section>
        <section class="main main-page container">
            <div class="row">
                <div class="col-md-6 text-box">
                    <h3>About Us</h3>
                    <p class="main-page-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse ratione aspernatur, a optio obcaecati sit tempore amet eius quas impedit, consectetur perspiciatis dolorem sed eaque accusamus repellendus mollitia minima autem, maiores veniam unde. Saepe nulla explicabo doloribus iure ratione ipsum rerum voluptate nemo est incidunt amet placeat tempora ab dolorum hic corporis, earum harum sint veritatis. Quae alias aliquam fugit aspernatur, suscipit et voluptatem! Nobis ut optio quod unde excepturi repellendus at velit dolore libero! Ad perspiciatis eum quasi aliquam animi doloribus vel? Aspernatur quisquam aliquid, recusandae earum inventore ratione consequatur doloremque cumque tenetur pariatur quibusdam distinctio. Ipsa, reiciendis praesentium.</p>
                </div>
                <div class="col-md-6 text-box">
                    <h3>Mission Statement</h3>
                    <p class="main-page-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Esse eligendi itaque quidem natus iste deserunt doloribus ut ipsam quis cupiditate? Minus, quos, sed quibusdam ab unde recusandae atque tenetur cum odio rerum qui veritatis ratione laborum? Amet doloremque debitis voluptas doloribus soluta id quo praesentium deserunt dolore. Dolore, voluptas necessitatibus!</p>
                </div>
            </div>
        </section>
    </main>
    <!-- insert tech stack -->
    <main class="tech-stack-section">
        <section class="tech-section">
            <div class="container">
                <div class="row">
                    <div class="col-12 justify-content-center">
                        <h2 class="tech-stack-header">Tech Stack</h2>
                    </div>
                    <div class="col-12">
                        <ul class="nav tech-stack-list justify-content-around">
                            <li class="tech-stack-item"><svg class="icon icon-node-dot-js"><use xlink:href="#icon-node-dot-js"></use></svg></li>
                            <li class="tech-stack-item"><svg class="icon icon-html5"><use xlink:href="#icon-html5"></use></svg></li>
                            <li class="tech-stack-item"><svg class="icon icon-javascript"><use xlink:href="#icon-javascript"></use></svg></li>
                            <li class="tech-stack-item"><svg class="icon icon-github"><use xlink:href="#icon-github"></use></svg></li>
                            <li class="tech-stack-item"><svg class="icon icon-css3"><use xlink:href="#icon-css3"></use></svg></li>
                            <li class="tech-stack-item"><svg class="icon icon-git"><use xlink:href="#icon-git"></use></svg></li>
    
                        </ul>
                    </div>
                </div>
            </div>
        </section>
    </main>
<%- include ('../partials/footer'); %>